<h3>API Admin <h3>
<h4> 1. Create http://localhost:3203/books </h4>
<h4> 2. Update http://localhost:3203/books/id </h4>
<h4> 3. Delete http://localhost:3203/books/id </h4>

<h3>API User</h3>
<h4> 1. Detail buku By ID http://localhost:3203/books/find/id </h4>
<h4> 2. Membeli buku http://localhost:3203/buy/ </h4>
<h4> 3. Melihat Buku Baru http://localhost:3203/books/findNew </h4>
<h4> 4. Melihat Semua Buku http://localhost:3203/books/ </h4>

<h3>API Login dan Register</h3>
<h4> 1. Login http://localhost:3203/user/login </h4>
<h4> 2. Register http://localhost:3203/user/register </h4>